:root {
    --azul-muito-escuro: #021330;
    --azul-muito-claro: #93CEFF;
    --azul-escuro: #243C60;
    --azul: #41709B;
}

body {
    margin: 0;
    background-color: var(--azul-escuro);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    height: 90vh;
    background-color: var(--azul);
}

.qr-code {
    width: 400px;
    height: 400px;
}

nav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--azul-muito-escuro);
}

nav div {
    float: right;
}

nav div i {
    display: block;
    color: var(--azul-muito-claro);
    text-align: center;
}

@media screen and (max-width: 768px) {
    .payment-component-col-1 {
        height: 70vh;
        width: 90vw;
    }

    .qr-code-col-1 {
        width: 200px;
        height: 200px;
    }
}